# We need the development version of Circus as 0.12 has not been released yet
git+git://github.com/circus-tent/circus.git

-e drivers/local_storage/
-e tests/utils/test_driver/
-e .[dev,doc,tests,bench]
